@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');

/* Main body styling */
body {
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #170e1a;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Footer Styling */
footer {
    flex-shrink: 0;
    width: 100%;
    height: 50%;
    background-color: #170e1a;
    margin-top: 30px;
    color: white;
}

#social {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 10px;
}

#social li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
}

#social i {
    color: white;
    font-size: 2rem;
    padding: 20px;
}



/* Header, Logo and Section Divides */
.heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.logo {
    height: 100px;
    padding-right: 5px;
}

hr {
    border-bottom: 2px solid #170e1a;
    width: 60%;
}

/* Game area styling */
#coding-choice {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    font-size: 1.2rem;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.btn {
    background-color: #da4167;
    color: #170e1a;
    text-align: center;
    width: 25%;
    padding: 20px;
    height: 100%;;
    box-sizing: border-box;
    font-size: 1.5rem;
    border: 2px solid #170e1a;
    border-radius: 4px;
}

.btn:hover {
    background-color: #170e1a;
    color: #da4167;
    border: 2px solid #da4167;
    transition: 0.8s;
}

.active {
    background-color: white;;
    border: 2px solid #da4167;
    color: #170e1a;
}

#submit-button {
    height: auto;
    padding: 10px;
}

#quiz-container {
    background-color: #170e1a;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    max-height: 450px;
    color: white;
    padding: 1%;
    box-sizing: border-box;
}

#question-container {
    width: 70%;
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
    box-sizing: border-box;
}

#question-container span {
    padding: 0 15px;
}


/* Score Area */
#score-area {
    margin: 5px auto;
    width: 80%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

#scores {
    padding: 50px;
}

.fa-check-circle {
    color: green;
    vertical-align: middle;
}

.fa-times-circle {
    color: red;
    vertical-align: middle;
}

#correct {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}


/* Answer area with User Input */
#answer-message {
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 60px;
    width: 400px;
    font-size: 1.2rem;
}

/* Places to store data and text needed for functions */
#qNumber {
    display: none;
}

#langDiv {
    display: none;
}

/* Rules Area */
#rules-container {
    width: 80%;
    height: auto;
    max-height: 600px;
    box-sizing: border-box;
    border: solid 5px #170e1a;
    padding: 1px;
    margin: 5px auto;
    font-size: 1.2rem;
}

#rules {
    text-align: left;
    padding: 5px;
}

/* Media Query for Screens of 1000px or less */
@media (max-width: 1000px) {
    #submit-button {
        width: 40%;
    }
}

/* Media Query for Screens of 900px or less */
@media (max-width: 900px) {
    #question-container {
        font-size: 1.3rem;
    }

    #answer-message {
        font-size: 1.1rem;
    }

    #answer-box {
        height: 30px;
        width: 200px;
        font-size: 1.2rem;
    }

    #scores {
        padding: 20px;
    }

    #rules-container {
        font-size: 1rem;
    }
}

/* Media Query for Screens of 700px or less */
@media (max-width: 700px) {
    .btn {
        width: 50%;
    }

    #correct-text, #incorrect-text {
        display: none;
    }
}

/* Media Query for Screens of 420px or less */
@media (max-width: 420px) {
    .btn {
        font-size: 0.8rem;
    }

    #answer-box {
        height: 30px;
        width: 150px;
        font-size: 1rem;
    }
}